<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Seller</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/1.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Milk</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Freshly delivered every morning, our milk is the perfect addition to your daily routine.From baking to making tea and coffee, our milk will elevate any recipe.
                            Packed with essential nutrients and vitamins, our milk is a great way to start your day off right.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/2.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Curd</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our creamy and tangy curd is the perfect accompaniment to any meal.
                            Made from high-quality milk, our curd is a healthy and delicious addition to your diet.
                            Use our curd to make lassi, raita, or even as a marinade for your meats!</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/3.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Paneer</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Looking for a healthy and protein-packed meal? Look no further than our fresh paneer.
                            Our paneer is made from pure and fresh milk, ensuring its taste and texture are unmatched.
                            Add it to curries, sandwiches or even salads to take your meals to the next level!</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/4.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Cheese</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our cheese is the perfect addition to any cheeseboard, pasta, or pizza.
                            From cheddar to mozzarella, we have a variety of cheese that will cater to your taste buds.
                            Made from the highest-quality milk, our cheese is sure to satisfy all your cheesy cravings!</p>
                    </div>
                </div>
        </ul>
    </div>
</section>